server:
  port: ${PORT:8082}

spring:
  application:
    name: institutional
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/institutional_db}
    username: ${DB_USER:postgres}
    password: ${DB_PASS:Agusagusbmx15$}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    baseline-on-migrate: true

logging:
  level:
    root: INFO
    com.upm.institutional: DEBUG
