server:
  port: ${PORT:8082}

spring:
  application:
    name: institutional
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/institutional_db}
    username: ${DB_USER:postgres}
    password: ${DB_PASS:Agusagusbmx15$}
    hikari:
      maximum-pool-size: 4
      connection-timeout: 30000
      minimum-idle: 1
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    baseline-on-migrate: true


  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USER:posadasuniversidadpopular@gmail.com}
    password: ${MAIL_PASS:app-password}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

logging:
  level:
    root: INFO
    com.upm.institutional: DEBUG
