server:
  port: ${PORT:8080}

spring:
  application:
    name: institutional

  datasource:
    url: ${DATABASE_URL}
    driver-class-name: org.postgresql.Driver

    hikari:
      pool-name: HikariPool-1
      maximum-pool-size: 10
      minimum-idle: 2
      connection-timeout: 30000
      validation-timeout: 5000
      idle-timeout: 600000
      max-lifetime: 1800000
      keepalive-time: 300000

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    baseline-on-migrate: true
    connect-retries: 10
    connect-retries-interval: 5

logging:
  level:
    root: INFO
    org.flywaydb: INFO
    com.zaxxer.hikari: INFO
    org.hibernate.SQL: WARN
